body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-hora {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20em;
    width: 20em;
    height: 9em;
    
}

.data-hora p {
    margin: 5px 0;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
}

#btn-bater-ponto {
    background-color: #1900ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-bater-ponto:hover {
    background-color: #243096;
    color: f4f4f4;
}

#alerta-registro-ponto {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    display: none; 
}

#dialog-ponto {
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#dialog-ponto p {
    margin: 10px 0;
}

#tipos-ponto {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-dialog-bater-ponto,
#btn-dialog-fechar {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;   
}
#btn-dialog-bater-ponto{
    margin-left: 8em;
    padding: 1em;
}

#btn-dialog-fechar{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    margin-top: 18px;
}

#btn-dialog-bater-ponto:hover,
#btn-dialog-fechar:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
#dialog-last-register{
    font-family: "Oswald", sans-serif;
    text-align: center;
    
}